#N
clk
A\[0\]
A\[1\]
A\[2\]
A\[3\]
A\[4\]
A\[5\]
A\[6\]
A\[7\]
A\[8\]
A\[9\]
A\[10\]
A\[11\]
A\[12\]
A\[13\]
A\[14\]
A\[15\]
B\[0\]
B\[1\]
B\[2\]
B\[3\]
B\[4\]
B\[5\]
B\[6\]
B\[7\]
B\[8\]
B\[9\]
B\[10\]
B\[11\]
B\[12\]
B\[13\]
B\[14\]
B\[15\]
Cin

#S
Sum\[0\]
Sum\[1\]
Sum\[2\]
Sum\[3\]
Sum\[4\]
Sum\[5\]
Sum\[6\]
Sum\[7\]
Sum\[8\]
Sum\[9\]
Sum\[10\]
Sum\[11\]
Sum\[12\]
Sum\[13\]
Sum\[14\]
Sum\[15\]
Cout
